@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

.bg-bluegreen{
    background-color: #0597a4;
}


*{
    font-family: Arial, cwtexfangsong, "全字庫正楷體", "TW-Kai", "標楷體", "BiauKai", DFKai-SB, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.padForNav{
    padding-top: 30px !important;
}


.swiper-container {
    width: 100%;
    height: calc(95vh - 40px);
    margin-left: 0 !important;
    
  }
.swiper-slide {
    text-align: left;
    font-size: 18px;
    
     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: left;
     -ms-flex-pack: left;
     -webkit-justify-content: left;
     justify-content: left;
     -webkit-box-align: left;
     -ms-flex-align: left;
     -webkit-align-items: left;
     align-items: left;
}
.swiper-slide img{
    width: 67vw;
    height: calc(95vh - 40px);
    
}




.slogan{
    
    color:black;
    font-weight:lighter;
    position: absolute;
    right:6.5vw;
    top:60vh;

}

.logo{
    position:absolute;
    left: calc(67vw + 23vw - 250px) ;
    top:20%;
    z-index: 100;
}
.logo h5{
    padding-left:25%; 
}

.logo img{
    margin: 0;
    margin-top: 30px;
    margin-left:5px; 
    height: 50px;
    border-radius: 10px;
     
}
.divider{
    height: 20px;
    background-image: url("/yongDa20171121/images/divider.png");
     
}


.intro {
    background-color: #74dbe2c5;
    text-align: center;
}
.intro1{
    background-image: url("/yongDa20171121/images/intro1.jpg");
    background-size: cover;
    background-position: center;
}
.intro2{
    background-image: url("/yongDa20171121/images/intro2.jpg");
    background-size: cover;
    background-position: center;
}
.intro3{
    background-image: url("/yongDa20171121/images/intro3.jpg");
    background-size: cover;
    background-position: center;
}
.intro4{
    background-image: url("/yongDa20171121/images/intro4.jpg");
    background-size: cover;
    background-position: center;
}
.news{
    height: 70vh;
    background-image: url("/yongDa20171121/images/bg-05.jpg");
    background-size: cover;
}
.news h6{
    
    background-color: #fcd4fc;
}

#map {
    height: 350px;
    width: 100%;
   }
.inf h6{
    text-align: center;
}
.footer{
    margin-top:20vh; 
    background-image: url("/yongDa20171121/images/footer-bg.jpg");
    background-size: cover;
    height: 30vh;
    position: relative; 
}
.footer img{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}