

.bg-bluegreen{
    background-color: #0597a4;
}


*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.my-slider{
    height: calc(95vh - 40px);
    width: 100vw;
    position: relative;
}
.my-slider li{
    height: calc(95vh - 40px);
    width: 67%;
    background-size: cover;
    background-position:right;
    
}
.slogan{
    color:black;
    font-weight:lighter;
    position: absolute;
    right:-25vw;
    top:60vh;
}
.ban1{
    background-image:url("/yongDa20171121/images/ban.jpg"); 
}
.ban2{
    background-image:url("/yongDa20171121/images/ban2.jpg"); 
}
.ban3{
    background-image:url("/yongDa20171121/images/ban3ForComputer.jpg"); 
}
.logo{
    position:absolute;
    left: calc(67vw + 23vw - 250px) ;
    top:20%;
    z-index: 100;
}
.logo h5{
    padding-left:25%; 
}

.logo img{
    margin: 0;
    margin-top: 30px;
    margin-left:5px; 
    height: 50px;
    border-radius: 10px;
     
}
.divider{
    clear: left;
    height: 15px;
    width: 95vw;
    margin:auto; 
    background-image: url("/yongDa20171121/images/divider.png");
    margin-top: 80px;
    margin-bottom:30px; 
}
.sedtitle{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 185px;
    height: 15px;
    margin: auto;
    color: black;
    font-weight: bolder;
    background-color:white; 
    letter-spacing:15px;
}
.con{
    margin: auto;
    padding-left:3%; 
    width: 1130px;
}
.con .left{
    margin-left: 15vw;
    float: left;
    padding-top:40px; 
}
.con .left h6{
    margin-bottom:20px; 
    padding-left: 10vw;
}
.con .left p{
    margin-bottom:25px; 
    
}
.con .right{
    float: left;
    margin-left: 5vw;
}
.intro {
    background-color: #74dbe2c5;
    text-align: center;
}
.con .right .intro1{
    margin-bottom: 5px;
    height: 100px;
    width: 300px;
    background-image: url("/yongDa20171121/images/intro1.jpg");
    background-size: cover;
    background-position: center;
}
.con .right .intro2{
    margin-bottom: 5px;
    height: 100px;
    width: 300px;
    background-image: url("/yongDa20171121/images/intro2.jpg");
    background-size: cover;
    background-position: center;
}
.con .right .intro3{
    margin-bottom: 5px;
    height: 100px;
    width: 300px;
    background-image: url("/yongDa20171121/images/intro3.jpg");
    background-size: cover;
    background-position: center;
}
.con .right .intro4{
    margin-bottom: 30px;
    height: 100px;
    width: 300px;
    background-image: url("/yongDa20171121/images/intro4.jpg");
    background-size: cover;
    background-position: center;
}
.row{
    
    margin-left:100px; 
    width:1130px;
    height:200px;
}
.row img{
    
    margin-left:22%;   
}
.row2 img{
    margin-left:32%;
}
.menu img{
  
    margin-left: 8vw;
    width: 1130px;
}
.box1{
    
    padding-top:4px; 
    margin: auto;
    border: 1px solid #80c5da;
    width: 600px;
    height: 400px;
}
.box2{
    
    border: 1px solid #80c5da;
    width: 590px;
    height: 390px;
    margin: auto;
}
.con img{
    width: 45%;
    
}
#map {
    height: 350px;
    width: 100%;
   }
.inf h6{
    text-align: center;
}